*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: grey;
}

p{
    color: black;
}

h1{
    color: black;
    text-align: center;
}

#search{
    align-items: center;
    position: relative; left: -300px; top: 50px;
}

#clear{
    align-items: center;
    position: relative; left: -140px; top: 50px;
}

#graphicm2{
    align-items: center;
    position: relative; left: 500px; top: -300px;
}

#graphicBanheiros{
    align-items: center;
    position: relative; left: 700px; top: -300px;
}

#graphicQuartos{
    align-items: center;
    position: relative; left: 293px; top: -50px;
}

#graphicVagas{
    align-items: center;
    position: relative; left: 495px; top: -50px;
}
