*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: grey;
}

p{
    color: black;
}

h1{
    color: black;
    text-align: center;
}

#search{
    align-items: center;
    position: relative; left: -300px; top: 50px;
}

#clear{
    align-items: center;
    position: relative; left: -140px; top: 50px;
}

main section.graphicD3{
    display:table;
    width: 40%;
    margin-top: 0px;
    padding: 0px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

#logradouroTitulo{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro1{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro2{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro3{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro4{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro5{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro6{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro7{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro8{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro9{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}

#logradouro10{
    align-items: center;
    position: relative; left: 150px; top: -198px;
}
