*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: grey;
}

p{
    color: black;
}

h1{
    color: black;
    text-align: center;
}

html{
    height: 100%;
}

#search{
    align-items: center;
    position: relative; left: -300px; top: 50px;
}

#clear{
    align-items: center;
    position: relative; left: -140px; top: 50px;
}

main section.graphicD3{
    display:table;
    width: 40%;
    margin-top: 0px;
    padding: 0px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}


#cabecalho{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rodape{
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* #containerBairros{
    height: 70%;
    display: flex;
    justify-content: center;
}
 */
/* #containerLogradouros{

} */